body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    text-align: center;
    image-rendering: pixelated;
    transform: scale(2);
  }
  
  button {
    padding: 10px 20px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
.dark-mode {
    background-color: #111;
    color: white;
}
